.modal {
    background: #f7f1e3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    max-height: 80vh;
    overflow-y: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .checkbox-group label,
  .input-group input,
  .input-group select {
    display: block;
    margin-bottom: 10px;
  }

  .error {
    color: red;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 8px;
    display: block;
  }

  /* UserPreferencesModal.css */
.meal-plan {
    margin-top: 20px;
  }
  .meal-plan h3, .meal-plan h4 {
    margin-bottom: 5px;
  }
  .meal-plan p {
    margin-left: 10px;
  }

  .generateNcloseButton{
    display: inline-block;
    color: #6A6F4C;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    cursor: pointer;
    margin: 10px;
}


.generateNcloseButton:hover{
    background: white;
}

.generateNcloseButton:active{
    background: #000000;
}


  