.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    max-height: 80vh;
    overflow-y: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .checkbox-group label,
  .input-group input,
  .input-group select {
    display: block;
    margin-bottom: 10px;
  }

  .error {
    color: red;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 8px;
    display: block;
  }

  /* UserPreferencesModal.css */
.meal-plan {
    margin-top: 20px;
  }
  .meal-plan h3, .meal-plan h4 {
    margin-bottom: 5px;
  }
  .meal-plan p {
    margin-left: 10px;
  }
  